@page
@model Megyek.Pages.Event.CreateModel

@{
    ViewData["Title"] = "Create new event";
}

<h2>Create</h2>
@if (Model.Team.Id > 0)
{
    <p>
        @Html.DisplayFor(model => Model.Team.Name)
    </p>

    <h4>Event</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Event.TeamId" value="@Model.Team.Id" />
                <div class="form-group">
                    <label asp-for="Event.Date" class="control-label"></label>
                    <input asp-for="Event.Date" class="form-control" />
                    <span asp-validation-for="Event.Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Event.Description" class="control-label"></label>
                    <input asp-for="Event.Description" class="form-control" />
                    <span asp-validation-for="Event.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Event.Place" class="control-label"></label>
                    <input asp-for="Event.Place" class="form-control" value="@Model.Team.DefaultPlace"  />
                    <span asp-validation-for="Event.Place" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="EventIndex" asp-route-teamId="@Model.Team.Id">Back to List</a>
    </div>
}
else
{
    <b>No permission to any team!</b>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
