@page
@model Megyek.Pages.Event.EditModel

@{
    ViewData["Title"] = "Edit event";
}

<h2>Edit</h2>
@if (Model.Event != null)
{
    <b>Team : </b>@Html.DisplayFor(model => Model.Event.Team.Name)
    <h4>Event</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Event.Id" />
                <input type="hidden" asp-for="Event.TeamId" />
                <div class="form-group">
                    <label asp-for="Event.Date" class="control-label"></label>
                    <input asp-for="Event.Date" class="form-control" />
                    <span asp-validation-for="Event.Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Event.EndDate" class="control-label"></label>
                    <input asp-for="Event.EndDate" class="form-control" />
                    <span asp-validation-for="Event.EndDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Event.Description" class="control-label"></label>
                    <input asp-for="Event.Description" class="form-control" />
                    <span asp-validation-for="Event.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Event.Place" class="control-label"></label>
                    <input asp-for="Event.Place" class="form-control" />
                    <span asp-validation-for="Event.Place" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Event.Special" class="control-label"></label>
                    <input asp-for="Event.Special" class="form-control" />
                    <span asp-validation-for="Event.Special" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-page="EventIndex" asp-route-teamId="@Model.Event.Team.Id">Back to List</a>
    </div>
}
else
{
    <b>No permission to this team!</b>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
