@page
@model Megyek.Pages.Membership.CreateModel

@{
    ViewData["Title"] = "Invite a new member";
}

<h2>Create</h2>
@if (Model.Membership.Team.Id > 0)
{
    <p>
        @Html.DisplayFor(model => Model.Membership.Team.Name)
    </p>

    <h4>Membership</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Membership.TeamId" value="@Model.Membership.TeamId" />
                <div class="form-group">
                    <label asp-for="Membership.Person.UserName" class="control-label"></label>
                    <input asp-for="Membership.Person.UserName" class="form-control" />
                    <span asp-validation-for="Membership.Person.UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Membership.DisplayName" class="control-label"></label>
                    <input asp-for="Membership.DisplayName" class="form-control" />
                    <span asp-validation-for="Membership.DisplayName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Membership.Manager" class="control-label"></label>
                    <input asp-for="Membership.Manager" class="form-control" />
                    <span asp-validation-for="Membership.Manager"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Membership.Mail" class="control-label"></label>
                    <input asp-for="Membership.Mail" class="form-control" />
                    <span asp-validation-for="Membership.Mail"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
}
else
{
    <b>No permission to any team!</b>
}

<div>
    <a asp-page="MembershipIndex" asp-teamId="@Model.Membership.Team.Id">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
