@page
@model Megyek.Pages.Post.IndexModel

@{
    ViewData["Title"] = "Team post history";
}

<h2>Post history</h2>

@if (Model.Team.Id > 0)
{
<p>
    <b>Team : </b>@Html.DisplayFor(model => Model.Team.Name)
</p>
<table class="table-striped" style="width:770px">
    @foreach (var item in Model.Post)
    {
        <tr>
            <td style="width:200px">
                <b>@Html.DisplayFor(modelItem => item.DisplayName)</b>
                <br>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td style="width:500px">
                @Html.DisplayFor(modelItem => item.Text)
            </td>
        </tr>
    }
</table>
}
else
{
<b>No permission to any team!</b>
}
